.div1{
    height: 50px;
    width: 50px;
    position:sticky;
    right: 0;
    top: 0;
    color:blueviolet
}
.div2{
    height: 300px;
    width: 400px;
    color: blue;
    top: 20px;
    left: 20px;
    position: relative;
}
.div3{
    top: 20px;
    left: 20px;
}
.div4{
    height: 100px;
    width: 100px;
    right: 00px;
    bottom: 0px;
    color: orange;
}